<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Windowcleaner Society</title>

    <link rel="apple-touch-icon" sizes="180x180" href='{{"/assets/apple-touch-icon.png" | url}}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{{"/assets/favicon-32x32.png" | url}}''>
    <link rel="icon" type="image/png" sizes="16x16" href=' {{"/assets/favicon-16x16.png" | url}}''>
    <link rel="manifest" href="/site.webmanifest">
    <link rel="shortcut icon" href='{{"/assets/favicon.ico" | url }}'>
    <meta name="theme-color" content="#fcf8d3">
    <link rel="stylesheet" href=" {{'/css/main.css' | url}}">

</head>

<body>
    <header class="site-header">
        <h1>RCA Window Cleaner Society</h1>
        <nav class="site-nav">
            <a href="/">Home</a>
            <a href="/references">References</a>
            <a href="/writing">Writing</a>
            <a href="/news">News</a>
            <a href="/about">About</a>
        </nav>
    </header>
    <main class="site-main">
        {{ content | safe }}
    </main>
    <script src="{{'/js/site.js' | url}}"></script>
</body>

</html>